<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Видео">
        <setting type="bool"
                 id="inputstream_adaptive"
                 visible="true"
                 default="true"
                 label="Активация inputstream.adaptive"
        />
        <setting type="sep"/>
    </category>
    <category label="Интеграции">
        <setting type="bool"
                 id="united_search"
                 visible="true"
                 default="true"
                 label="Интеграция с поисковым плагином United Search"
        />
        <setting type="sep"/>
        <setting type="text"
                 id="us_command"
                 visible="false"
                 default="router=search&keyword="
        />
        <setting type="sep"/>
    </category>
    <category label="История">
        <setting type="bool"
                 id="history"
                 visible="true"
                 default="true"
                 label="Включить историю поиска"
        />
        <setting label="Количество записей"
                 type="slider"
                 id="history_limit"
                 default="50"
                 range="1,5000"
                 option="int"
        />
        <setting label="Очистить всю историю"
                 type="action"
                 action="RunPlugin(plugin://plugin.video.zeltorix.worldcams.tv/?router=history_clearing)"
        />
        <setting type="sep"/>
    </category>
</settings>
